HTML {
    WIDTH: 70%;
    BORDER: 3PX SOLID BLACK;
    MARGIN-LEFT: AUTO;
    MARGIN-RIGHT: AUTO;
}

H1 {
    COLOR: BLACK;
    FONT-FAMILY: FANTASY;
    FONT-SIZE: 40PX;
    TEXT-ALIGN: CENTER;
    margin-bottom: -6px;
}
P {
    text-align: center;
    color: blue
}

H2 {
    MARGIN-BOTTOM: -10PX;
}

ul {
    line-height: 1.5;
}
.subheading{
    color:blue;
}
img {
    height: 100px;
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -20px;
}
